In [110]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression

In [111]:
#1- importation du jeu de Données
data=pd.read_excel(r'C:\Users\BADJO M\Downloads\exo-regression\Coeur.xlsx')

In [112]:
# 2-Copiez l’objet data dans un nouvel objet df 
df = data.copy()
df

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [113]:
#3.Vérifiez s’il y a des doublons dans l’objet df 
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
913    False
914    False
915    False
916    False
917    False
Length: 918, dtype: bool

In [114]:
#Supprimer les doublons
df.drop_duplicates(keep=False)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [115]:
#4.Vérifier s’il y a des constantes 
df.isna()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
913,False,False,False,False,False,False,False,False,False,False,False,False
914,False,False,False,False,False,False,False,False,False,False,False,False
915,False,False,False,False,False,False,False,False,False,False,False,False
916,False,False,False,False,False,False,False,False,False,False,False,False
917,False,False,False,False,False,False,False,False,False,False,False,False

In [116]:
#5.Vérifier s’il y a des données manquantes dans df 
df.isnull()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
913,False,False,False,False,False,False,False,False,False,False,False,False
914,False,False,False,False,False,False,False,False,False,False,False,False
915,False,False,False,False,False,False,False,False,False,False,False,False
916,False,False,False,False,False,False,False,False,False,False,False,False
917,False,False,False,False,False,False,False,False,False,False,False,False

In [117]:
#supprimer les données manquants
df.dropna()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140,289,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160,180,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130,283,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138,214,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150,195,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,110,264,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,144,193,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,130,131,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,130,236,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,138,175,0,Normal,173,Non,0.0,Ascendant,0

In [118]:
#6.normalisation
normalized_df=(df-df.mean())/df.std()
normalized_df

,AGE,ANGINE,CHOLESTEROL,CŒUR,DEPRESSION,ECG,FCMAX,GAJ,PAR,PENTE,SEXE,TDT
0,-1.432359,NaN,0.824621,-1.112508,-0.831979,NaN,1.382175,-0.551041,0.410685,NaN,NaN,NaN
1,-0.478223,NaN,-0.171867,0.897891,0.105606,NaN,0.753746,-0.551041,1.490940,NaN,NaN,NaN
2,-1.750404,NaN,0.769768,-1.112508,-0.831979,NaN,-1.524307,-0.551041,-0.129442,NaN,NaN,NaN
3,-0.584238,NaN,0.138964,0.897891,0.574398,NaN,-1.131539,-0.551041,0.302660,NaN,NaN,NaN
4,0.051853,NaN,-0.034736,-1.112508,-0.831979,NaN,-0.581664,-0.551041,0.950812,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
913,-0.902283,NaN,0.596068,0.897891,0.293123,NaN,-0.188897,-0.551041,-1.209697,NaN,NaN,NaN
914,1.536064,NaN,-0.053020,0.897891,2.355810,NaN,0.164595,1.812770,0.626736,NaN,NaN,NaN
915,0.369898,NaN,-0.619830,0.897891,0.293123,NaN,-0.856602,-0.551041,-0.129442,NaN,NaN,NaN
916,0.369898,NaN,0.340090,0.897891,-0.831979,NaN,1.460728,-0.551041,-0.129442,NaN,NaN,NaN
917,-1.644389,NaN,-0.217578,-1.112508,-0.831979,NaN,1.421452,-0.551041,0.302660,NaN,NaN,NaN

In [119]:
#7.Faite un recodage de toutes les variables qualitatives.
def recoder(df):
    for i in df.select_dtypes('object').columns:
        df[i]=df[i].astype('category').cat.codes
    return(df)
recoder(df)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,1,0,140,289,0,1,172,0,0.0,0,0
1,49,0,3,160,180,0,1,156,0,1.0,2,1
2,37,1,0,130,283,0,2,98,0,0.0,0,0
3,48,0,1,138,214,0,1,108,1,1.5,2,1
4,54,1,3,150,195,0,1,122,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,2,110,264,0,1,132,0,1.2,2,1
914,68,1,1,144,193,1,1,141,0,3.4,2,1
915,57,1,1,130,131,0,1,115,1,1.2,2,1
916,57,0,0,130,236,0,0,174,0,0.0,2,1
917,38,1,3,138,175,0,1,173,0,0.0,0,0

In [120]:
#séparer la variable cible COEUR 
X = df.iloc[:,:11]
X

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE
0,40,1,0,140,289,0,1,172,0,0.0,0
1,49,0,3,160,180,0,1,156,0,1.0,2
2,37,1,0,130,283,0,2,98,0,0.0,0
3,48,0,1,138,214,0,1,108,1,1.5,2
4,54,1,3,150,195,0,1,122,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,2,110,264,0,1,132,0,1.2,2
914,68,1,1,144,193,1,1,141,0,3.4,2
915,57,1,1,130,131,0,1,115,1,1.2,2
916,57,0,0,130,236,0,0,174,0,0.0,2
917,38,1,3,138,175,0,1,173,0,0.0,0

In [121]:
#stocker la variable COEUR dans un objet appelé Y 
Y = data.iloc[:,11:]
Y

     CŒUR
0       0
1       1
2       0
3       1
4       0
..    ...
913     1
914     1
915     1
916     1
917     0

[918 rows x 1 columns]

In [122]:
# repatition de nos données en données d'entrainement train et de test

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

In [123]:
#instanciation du modèle
modele_regLog = linear_model.LogisticRegression(random_state=0, solver = 'liblinear', multi_class = 'auto')

In [124]:
#training
modele_regLog.fit(X_train, Y_train)

C:\Users\BADJO M\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression(random_state=0, solver='liblinear')

In [125]:
#prediction
prediction = modele_regLog.predict(X_test)
print('prédiction du modèle:', prediction)

prédiction du modèle: [1 1 1 1 0 0 0 0 0 0 1 1 1 1 0 1 1 1 1 0 1 1 1 1 0 0 1 1 1 0 1 0 0 0 1 0 1
 0 1 0 0 1 1 0 1 0 0 1 1 0 1 0 0 1 1 1 1 0 0 0 1 1 1 0 1 0 1 1 1 0 1 1 0 1
 1 1 1 0 1 1 1 1 0 0 1 0 1 1 1 0 0 1 0 0 1 0 1 0 0 0 1 0 1 1 1 1 0 0 0 1 0
 1 1 1 1 1 1 0 1 1 1 1 1 0 0 0 0 1 0 1 0 1 1 1 1 0 1 1 0 0 1 1 0 1 1 0 1 1
 0 1 0 1 1 0 1 0 1 1 1 0 0 1 1 0 1 1 0 0 1 1 1 1 0 0 1 1 1 1 0 1 1 0 0 1 1
 1 0 1 1 0 0 1 1 1 1 0 0 1 1 0 1 1 1 1 1 1 0 0 1 0 1 1 0 1 0 1 1 1 1 1 1 0
 1 1 1 1 0 1 1 1 0 1 1 1 0 1 1 1 0 1 1 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 1 1 0 0 1 0 0 0 1 1 1 0]

In [126]:
#calcule de précision
precision = modele_regLog.score(X_test, prediction)
print('la précision du modèle', precision * 100)

la précision du modèle 100.0